
<div class="bc-widewhite uk-block bc-section">
	<div class="uk-container uk-container-center">
		<div class="uk-grid uk-grid-match" data-uk-grid-match="{target:'.tall'}" data-uk-grid-margin>
			<div class="uk-width-medium-1-3">
				<div class="uk-grid-match" data-uk-grid-margin>
					<div class="uk-width-1-1 uk-height-1-2">
						<div class="uk-panel uk-panel-box uk-height-1-1 uk-panel-space box5 uk-text-center">
							{{ content.field_panel_content }}
						</div>
					</div>
				
					<div class="uk-width-1-1 uk-height-1-2">
						<div class="uk-panel uk-panel-box uk-height-1-1 uk-panel-space box6 uk-text-center">
							{{ content.field_panel_2_content }}
						</div>
					</div>
				</div>
			</div>
		
			<div class="uk-width-medium-1-3">
				<div class="uk-panel uk-panel-box box7 tall uk-text-center">
					<div class="uk-panel-teaser">{{ content.field_panel_image }}</div>
				
					<div class="bc-botblock">
						{{ content.field_panel_3_content }}
					</div>
				</div>
			</div>
			
			<div class="uk-width-medium-1-3">
				<div class="uk-panel uk-panel-box box8 shadow noborder tall uk-text-center">
					<div class="uk-panel-teaser">{{ content.field_panel_2_image }}</div>
						<div class="bc-botblock">
							{{ content.field_panel_4_content }}
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end section -->